@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.47.0/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.47.0/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents scrollbars */
}

#app {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* --- FIX FOR MINIMAP POSITION --- */
.vue-flow__minimap {
  position: absolute;
  bottom: 15px;
  right: 15px;
  top: auto;
  left: auto;
  transform: scale(75%);
  transform-origin: bottom right;
}

.layout-flow {
  background-color: #1a192b;
  height: 100%;
  width: 100%;
}

/* --- FIX FOR PANEL POSITION --- */
.process-panel {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 10; /* Ensures it's on top of the graph */

  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2d3748;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  align-items: flex-start;
}

.layout-panel {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.process-panel button {
  border: none;
  cursor: pointer;
  background-color: #4a5568;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  padding: 10px;
}

.process-panel .icon-button {
  width: 40px;
  height: 40px;
}

.layout-panel button {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  height: 40px;
}

.checkbox-panel {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #4a5568;
  padding: 8px 12px;
  border-radius: 8px;
}

.process-panel button:hover {
  background-color: #2563eb;
}

.process-panel label {
  color: white;
  font-size: 12px;
  white-space: nowrap; /* Prevents text wrap */
}

.stop-btn svg {
  display: none;
}

.stop-btn:hover svg {
  display: block;
}

.stop-btn:hover .spinner {
  display: none;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #2563eb;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.context-menu {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  text-transform: none;
  font-size: 14px;
}

.context-menu .item {
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
}

.context-menu .item:hover {
  background-color: #f0f0f0;
}