@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/controls/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局重置 */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}